@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #444; }

h1 #test {
  color: blue; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300; }

p {
  font-weight: 300; }

.font-normal {
  font-weight: 400; }

.font-semi-bold {
  font-weight: 600; }

.font-bold {
  font-weight: 700; }

.starter-template {
  margin-top: 250px; }

.starter-template .content {
  margin-left: 10px; }

.starter-template .content h1 {
  margin-top: 10px;
  font-size: 60px; }

.starter-template .content h1 .smaller {
  font-size: 40px;
  color: #f2b7bd; }

.starter-template .content .lead {
  font-size: 25px;
  color: #f2b7bd; }

.starter-template .content .lead .font-normal {
  color: #ffffff; }

.starter-template .links {
  float: right;
  right: 0;
  margin-top: 125px; }

@media (max-width: 1199px) {
  .starter-template .content h1 {
    font-size: 45px; }

  .starter-template .content h1 .smaller {
    font-size: 30px; }

  .starter-template .content .lead {
    font-size: 20px; } }
@media (max-width: 991px) {
  .starter-template {
    margin-top: 0; }

  .starter-template .logo {
    margin: 40px auto; }

  .starter-template .content {
    margin-left: 0;
    text-align: center; }

  .starter-template .content h1 {
    margin-bottom: 20px; }

  .starter-template .links {
    float: none;
    text-align: center;
    margin-top: 60px; }

  .starter-template .copyright {
    float: none;
    text-align: center; } }
@media (max-width: 767px) {
  .starter-template .content h1 .smaller {
    font-size: 25px;
    display: block; }

  .starter-template .content .lead {
    font-size: 16px; }

  .starter-template .links {
    margin-top: 40px; }

  .starter-template .links ul li {
    display: block;
    margin: 0; }

  .starter-template .links ul li .icon-muted {
    display: none; }

  .starter-template .copyright {
    margin-top: 20px; } }
#details input {
  padding: 15px 15px 15px 15px;
  margin: 5px;
  text-align: left; }

.outer {
  padding: 0 3% 0 3%; }

@media only screen and (max-width: 800px), (min-device-width: 800px) and (max-device-width: 1024px) {
  .dropdown {
    margin-bottom: 10px; }

  .dropdown-menu {
    position: absolute;
    top: 81%;
    left: 51px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 151px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none; }

  .box-list {
    display: block;
    text-align: center;
    padding: 1% 13% 13% 13%; }

  .button {
    margin-bottom: 30px; }

  .box-list table > tbody > tr > td > .delete a {
    margin-left: 0; }

  table, thead, tbody, th, td, tr {
    display: block;
    margin-left: 0; }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px; }

  tr {
    border: 1px solid #ccc; }

  td {
    text-align: left;
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding: 8px 50px 8px 50px;
    margin-left: 0; } }
.box-login {
  display: table;
  position: relative;
  margin: 0 auto;
  margin-top: 2%;
  background-color: white;
  padding: 1% 8% 1% 8%;
  box-shadow: 0 1px 1px #939393;
  border-radius: 25px 0 25px 0;
  border-bottom: 4px solid #26a69a;
  text-align: center;
  border-top: 1px solid #e6e6e6; }
  .box-login .button {
    margin: 8% 0 8% 0; }
  .box-login h1 {
    margin: 8% 0 8% 0; }
  .box-login input {
    padding: 15px 15px 15px 15px;
    margin: 20px;
    text-align: left; }

.fake-input {
  border: none;
  background: none;
  pointer-events: none; }

.edit-div {
  cursor: pointer;
  padding: 0.4em;
  border-radius: 100%;
  transition: 0.5s all ease; }

.edit-div:hover {
  background: #e2e2e2;
  transition: 0.5s all ease; }

.delete-div a {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  padding: 0.4em;
  height: 2em;
  width: 2em;
  border-radius: 100%;
  transition: 0.5s all ease; }
.delete-div a:hover {
  background: #e2e2e2;
  transition: 0.5s all ease; }

.box-list {
  display: table;
  position: relative;
  margin: 0 auto;
  background-color: white;
  margin-top: 2%;
  padding: 1% 3% 13% 3%;
  box-shadow: 0 1px 1px #939393;
  border-radius: 25px 0 25px 0;
  border-bottom: 4px solid #26a69a;
  border-top: 1px solid #e6e6e6; }
  .box-list .button {
    height: 40px; }
  .box-list table > tbody > tr > td {
    padding: 8px 80px 8px 10px; }
  .box-list input {
    padding: 8px 8px 8px 10px; }
  .box-list .delete > a:hover {
    color: #d70000; }

#logout {
  position: absolute;
  top: 1em;
  right: 2em;
  z-index: 2; }

.box-register {
  display: table;
  position: relative;
  margin: 0 auto;
  background-color: white;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 1% 4% 1% 4%;
  box-shadow: 0 1px 1px #939393;
  border-radius: 25px 0 25px 0;
  border-bottom: 4px solid #26a69a;
  border-top: 1px solid #e6e6e6;
  text-align: center; }
  .box-register .button {
    margin-bottom: 30px; }

.box-success {
  left: 35%;
  display: none;
  position: absolute;
  width: 30%;
  height: 40%;
  background-color: white;
  padding: 20px;
  box-shadow: 0 1px 1px #939393;
  border-radius: 25px 0 25px 0;
  border-bottom: 4px solid #26a69a;
  text-align: center;
  border-top: 1px solid #e6e6e6; }

.box-error {
  display: table;
  position: relative;
  margin: 0 auto;
  margin-top: 2%;
  background-color: white;
  padding: 1% 4% 2% 4%;
  box-shadow: 0 1px 1px #939393;
  border-radius: 25px 0 25px 0;
  border-bottom: 4px solid #26a69a;
  text-align: center;
  border-top: 1px solid #e6e6e6; }
  .box-error h1 {
    margin-top: 8%;
    margin-bottom: 15%; }
  .box-error #logo {
    margin: 0 auto; }
  .box-error h4 {
    margin-top: 5%; }
  .box-error a {
    color: #515252; }
  .box-error a:hover {
    color: #26a69a;
    transition: .2s all ease;
    text-decoration: none; }

#logo {
  background: url("subscribe.png");
  height: 100px;
  width: 100px;
  margin-top: 50px;
  align-self: center;
  background-repeat: no-repeat; }

#envelope {
  background: url("envelope.png");
  height: 128px;
  width: 128px;
  align-self: center; }

.button {
  margin: 10px 10px;
  text-decoration: none;
  color: #fff;
  background-color: #26a69a;
  text-align: center;
  letter-spacing: .5px;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 50px;
  max-width: 180px;
  line-height: 36px;
  outline: 0;
  padding: 0 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  transition: all .2s ease; }

.button:hover {
  background: #4fbe79;
  transition: .5s all ease; }

.error {
  color: red; }

.delete a {
  text-decoration: none;
  color: red;
  font-weight: 700;
  margin-left: 1em; }

#success {
  color: green;
  font-size: 1.4em; }

#register #details {
  margin: auto; }
  #register #details div {
    margin: 2em; }
  #register #details span {
    display: block; }
  #register #details input[type=text] {
    width: 19em; }
#register h4 {
  display: block;
  margin: auto;
  margin-top: -2em;
  margin-bottom: 20px;
  width: 15em; }
#register #submit {
  display: block;
  margin: auto; }
#register #categories {
  text-align: left;
  margin: auto;
  margin-top: 5em; }
  #register #categories .category-name {
    font-family: 'Arial', sans;
    color: #444;
    font-size: 2em; }
  #register #categories h3 {
    width: 8em;
    margin: 0;
    display: inline; }
  #register #categories .flat-rounded-checkbox {
    width: 120px;
    height: 40px;
    margin: 20px 50px;
    position: relative;
    top: -3em;
    left: 11em; }
    #register #categories .flat-rounded-checkbox input[type=checkbox] {
      visibility: hidden; }
    #register #categories .flat-rounded-checkbox label {
      display: block;
      width: 30px;
      height: 30px;
      border-radius: 50px;
      -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
      -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
      transition: all .5s ease;
      cursor: pointer;
      position: absolute;
      top: -7px;
      z-index: 1;
      left: 8px;
      background: #FFF; }
    #register #categories .flat-rounded-checkbox .button-rounded {
      -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
      -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
      transition: all .5s ease;
      width: 100%;
      height: 75%;
      background: #d3d3d3;
      border-radius: 50px;
      position: relative;
      top: -30px; }
    #register #categories .flat-rounded-checkbox input[type=checkbox]:checked ~ label {
      left: 85px; }
    #register #categories .flat-rounded-checkbox input[type=checkbox]:checked ~ div {
      background: #4fbe79; }

/*# sourceMappingURL=main.css.map */
