beautifulsoup4==4.5.1
Chameleon==2.24
colander==1.3.1
coverage==4.2
deform==0.9.9
dnspython3==1.12.0
email-validator==1.0.1
idna==2.1
iso8601==0.1.11
Jinja2==2.8
Mako==1.0.4
MarkupSafe==0.23
PasteDeploy==1.5.2
peppercorn==0.5
pkg-resources==0.0.0
py==1.4.31
Pygments==2.1.3
pyramid==1.7.3
pyramid-chameleon==0.3
pyramid-debugtoolbar==3.0.4
pyramid-jinja2==2.6.2
pyramid-mako==1.0.2
pyramid-scss==0.4
pyramid-tm==0.12.1
pyScss==1.3.5
pytest==3.0.2
pytest-cov==2.3.1
repoze.lru==0.6
six==1.10.0
SQLAlchemy==1.0.15
-e git+https://github.com/00riddle00/subscription_demo.git@2a0740b56d43e23c36a9be5d3136ba7d1deec2db#egg=subscriptions
transaction==1.6.1
translationstring==1.3
venusian==1.0
waitress==1.0.0
WebOb==1.6.1
WebTest==2.0.23
zope.deprecation==4.1.2
zope.interface==4.3.2
zope.sqlalchemy==0.7.7
