<!DOCTYPE html>
<html lang="{{ request.locale_name }}" xmlns:tal="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="pyramid web application">
    <meta name="author" content="Tomas Giedraitis">

    <link rel="shortcut icon"
          href="{{ request.static_url('subscriptions:static/launchform-32x32.gif') }}">

    <link rel="stylesheet" href="{{ request.static_url('subscriptions:static/chat.css') }}">
    <link rel="stylesheet" href="{{ request.static_url('subscriptions:static/quiz.css') }}">

    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="//fonts.googleapis.com/css?family=Roboto:400,500&amp;subset=latin,latin-ext">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script scr="{{ request.static_url('subscriptions:static/chat.js') }}"></script>
    <script scr="{{ request.static_url('subscriptions:static/quiz.js') }}"></script>
    <title>View list of subscriptions</title>


    <script>

        $(window).ready(function () {
            var left, width, cont = "#q-cont";
            $('span').click(function () {
                $(this).css("background", "#5a6");
                $('.re').css("background", "#d90");
                next();
            });
            $('.re').click(function () {
                $(".op").css("background", "#d90");
                $('.re').css("background", "#5a6");
                $(cont).css("left", "0px");
            });
            function next() {
                width = $(cont).width() / 4;
                left = $(cont).css("left").slice(0, -2) * 1;
                left -= width;
                $(cont).css("left", left + "px");
            }
        });
    </script>

    <!-- Custom styles for this scaffold -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="wrapper">
    <a href="/">
        <div class="logo"></div>
    </a>
    <ul class="nav navbar-nav top-menu">
        <li><a href="#how-it-works">How it works?</a></li>
        <li><a href="#">Prices</a></li>
        <li><a href="#">Partners</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
    <div class="title-image">
        <div class="center-div">
            <div class="upper-text">Fully designed and developed</div>
            <div class="center-text">
                <ul>
                    <li>Mobile apps &#8226;</li>
                    <li>Websites &#8226;</li>
                    <li>Chatbots</li>
                </ul>
            </div>
            <div class="lower-text">Just <strong>in 30 minutes.</strong></div>
            <div class="comment">Without technical skills and rocket science.
            </div>
            <a href="#chatbot">
                <div class="start-button"></div>
            </a>
        </div>
    </div>


    <div class="form-block">

        <div class="avatar" id="chatbot"></div>

        <div class="chatbot-form">


            <div id="q-cont">


                <div class="slide">
                    <div class="greet" id="greet1"> Hey, my name is Pabo!</div>
                    <div class="greet" id="greet2"> I am your personal design & development expert.</div>
                    <div class="greet" id="greet3">I can build you a Website, Mobile App, Chatbot or Software!</div>
                    <div class="greet" id="greet4">I'll ask you a few questions to do that.</div>
                    <div class="greet" id="greet5">You can always change your answers if you change your mind! ☺</div>

                    <div class="question" id="question1">So, what you would like me to develop?</div>

                    <div class="options" id="options1">
                        <span class="op">Website</span><span class="op op2">Mobile app</span><br><span class="op">Chat bot</span><span class="op op2">Software</span>
                    </div>
                </div>

                <div class="slide" id="slide2">
                    <div class="question" id="question2"> So, what do you need a website for? ☺</div>
                    <div class="options" id="options2">
                        <span class="op">To sell services</span><span class="op op2">To sell products</span><br>
                        <span class="op">To start a blog</span>
                    </div>
                </div>


                <div class="slide" id="slide3">
                    <div class="question" id="question3">
                        Do you sell more than one product / services (depends on the previous answer)?
                    </div>
                    <div class="options" id="options3">
                        <span class="op">Only one</span><span class="op op2">More than one</span><br>
                    </div>
                </div>
                <div class="slide" id="slide4">
                    <div class="question" id="question4">
                        Is your product already known to people or something new and different?
                    </div>
                    <div class="options" id="options4">
                        <span class="op">Yes, it needs explaining</span><span class="op op2">No, its known</span><br>
                    </div>
                </div>
                <div class="slide" id="slide5">
                    <div class="question" id="question5">
                        Is there a product that is more popular among your clients than others?
                    </div>
                    <div class="options" id="options5">
                        <span class="op">Only one</span><span class="op op2">More than one</span><br>
                    </div>
                </div>
                <div class="slide" id="slide6">
                    <div class="question" id="question6">
                        Okay, good ☺ Would you like to show your team on your website too?
                    </div>
                    <div class="options" id="options6">
                        <span class="op">No, not really</span><span class="op op2">Yes, I would</span><br>
                    </div>
                </div>
                <div class="slide" id="slide7">
                    <div class="question" id="question7">
                        And do you have happy customers whose opinions you could show on your website?
                    </div>
                    <div class="options" id="options7">
                        <span class="op">Yes, I do</span><span class="op op2">No, not really</span><br>
                    </div>
                </div>
                <div class="slide" id="slide8">
                    <div class="question" id="question8">
                        How would you like to show your pricing?
                    </div>
                    <div class="options" id="options8">
                        <span class="op">Packages</span><span class="op op2">Price list</span><br>
                        <span class="op">Ask for price</span><span class="op op2">No prices at the moment</span>
                    </div>
                </div>
                <div class="slide" id="slide9">
                    <div class="question" id="question9">
                        We're almost done! ☺ Do you want your customers to know about your partners/retailers?
                    </div>
                    <div class="options" id="options9">
                        <span class="op">Yes, I do</span><span class="op op2">No, not really</span><br>
                    </div>
                </div>
                <div class="slide" id="slide10">
                    <div class="question" id="question10">
                        Would you like to show a video to your customers?
                    </div>
                    <div class="options" id="options10">
                        <span class="op">Yes, I would</span><span class="op op2">No, not really</span><br>
                    </div>
                </div>
                <div class="slide" id="slide11">
                    <div class="question" id="question11">
                        Do you want to show your location on the map?
                    </div>
                    <div class="options" id="options11">
                        <span class="op">Yes, I would</span><span class="op op2">No, not really</span><br>
                    </div>
                </div>
                <div class="slide" id="slide12">
                    <div class="question" id="question12">
                        Do you have a store or office which has opening hours?
                    </div>
                    <div class="options" id="options12">
                        <span class="op">Yes, I would</span><span class="op op2">No, not really</span><br>
                    </div>
                </div>
                <div class="slide" id="slide13">
                    <div class="question" id="question13">
                        Last step before we move on to design ☺ Would you like to collect your clients information (like emails)?
                    </div>
                    <div class="options" id="options13">
                        <span class="op">Yes, I would</span><span class="op op2">No, not really</span><br>
                    </div>
                </div>
                <div class="slide" id="slide14">
                    <div class="question" id="question14">
                        Choose the color that best fits your brand. You can change this later too ☺
                    </div>
                    <div class="options" id="options14">
                        <span class="op">Red</span><span class="op op2">White</span><br>
                        <span class="op">Green</span><span class="op op2">Blue</span>
                    </div>
                </div>
                <div class="slide" id="slide15">
                    <div class="question" id="question15">
                        Would you like the website to be more colorful or rather subtle?
                    </div>
                    <div class="options" id="options15">
                        <span class="op">Colorful</span><span class="op op2">Subtle</span><br>
                    </div>
                </div>
                <div class="slide" id="slide16">
                    <div class="question" id="question16">
                        And would you rather like your images and buttons to be round or square? ☺
                    </div>
                    <div class="options" id="options16">
                        <span class="op">Round</span><span class="op op2">Square</span><br>
                    </div>
                </div>
                <div class="slide" id="slide17">
                    <div class="question" id="question17">
                        Would you rather like your website to be darker or whiter?
                    </div>
                    <div class="options" id="options17">
                        <span class="op">Darker</span><span class="op op2">Lighter</span><br>
                    </div>
                </div>
                <div class="slide" id="slide18">
                    <div class="question" id="question18">
                        Last step! ☺ Which one of these fonts do you like the most
                    </div>
                    <div class="options" id="options18">
                        <span class="op">Modern</span><span class="op op2">Traditional</span><br>
                    </div>
                </div>
                <div class="slide" id="slide19">
                    <br>
                    <br>
                    <br>
                    <div class="question" id="question19">
                        Would you like to run your website now?
                        <div class="options" id="options19">
                            <span class="op">Launch</span><span class="op op2">Later</span><br>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>


<footer class="footer">
    <div class="container-footer">
        <p class="text-muted"></p>
    </div>
</footer>


<script>

    $(document).ready(function () {

        var i = 0;
        var started = false;
        var intro = false;


        $('.start-button').on('click', function () {
            if (!started) {
                setTimeout(function () {
                    $('#greet' + i).fadeIn('slow');
                }, 1000);
                i++;
                started = true;
            }
        });


        $('#q-cont').on('click', function () {

            if (!intro && started) {
                if (i < 5) {
                    setTimeout(function () {
                        $('#greet' + i).fadeIn('slow');
                    }, 1000);
                    i++;
                } else {
                    intro = true;
                    i = 1;
                    setTimeout(function () {
                        $('#question' + i).fadeIn('slow');
                        $('#options' + i).fadeIn('slow');
                    }, 1000);
                }
            }

        });

        $('.op').on('click', function () {
            if (intro) {
                setTimeout(function () {
                    $('#question' + i).fadeIn('slow');
                    $('#options' + i).fadeIn('slow');
                }, 1000);
                i++;
            }
        });

    });


</script>


</body>
</html>