<!DOCTYPE html>
<html lang="{{ request.locale_name }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="pyramid web application">
    <meta name="author" content="Tomas Giedraitis">
    <link rel="shortcut icon"
          href="{{ request.static_url('subscriptions:static/subscribe-32x32.png') }}">
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>View list of subscriptions</title>

    <!-- Custom styles for this scaffold -->
    <link href="{{ request.static_url('subscriptions:static/main.css') }}"
          rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="box-list">
    <h2>Subscriptions</h2>
    <div class="dropdown">
        <button class="button dropdown-toggle" type="button"
                data-toggle="dropdown">Order by {{ orderBy }}
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="{{ list_url }}/name">Name</a></li>
            <li><a href="{{ list_url }}/email">Email</a></li>
            <li><a href="{{ list_url }}/date">Date</a></li>
        </ul>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th href="test">Name</th>
            <th href="test">Email</th>
            <th href="test">Categories</th>
            <th href="test">Date</th>
            <th>Edit</th>
            <th>Remove</th>
        </tr>
        </thead>
        <tbody>
        {% for sub in subscriptions %}
            <tr>
                <td style='display: none;'><input name='name'
                                                  value="{{ sub.name }}"></td>
                <td>{{ sub.name }}</td>

                <td style='display: none;'><input name='email'
                                                  value="{{ sub.email }}"></td>
                <td>{{ sub.email }}</td>
                <td>
                    {% for cat in sub.categories %}
                        {{ cat.name }};
                    {% endfor %}
                </td>
                <td>{{ sub.registered }}</td>
                <td class="edit">
                    <img src="{{ request.static_url('subscriptions:static/edit.png') }}">
                    </a>
                </td>
                <td id="delete"><a
                        href="{{ list_url }}/remove/{{ sub.id }}">X</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        if ($(window).width() <= 800) {
            $("td:last-child > a").each(function () {
                $(this).text('Remove');
                $(this).css('margin-left', '0px');
            });
        }
    });

    $(window).on('resize', function () {
        if ($(window).width() <= 800) {
            $("td:last-child > a").each(function () {
                $(this).text('Remove');
                $(this).css('margin-left', '0');
            });
        }
        else {
            $("td:last-child > a").each(function () {
                $(this).text('X');
                $(this).css('margin-left', '30px');
            });
        }
    });


    $('.edit').hover(function () {
        $(this).css('cursor', 'pointer');
    });

    var name_field;
    var email_field;

    var current_class;

    $('.edit').click(function (e) {
        current_class = $(this);
        name_field = current_class.parent().children(':first-child');
        email_field = current_class.parent().children(':nth-child(3)');

        if (!current_class.hasClass('clicked')) {
            current_class.addClass('clicked');

            $(this).find("img").attr("src", "{{ request.static_url('subscriptions:static/tick.png') }}");

            name_field.show();
            name_field.next().hide();

            email_field.show();
            email_field.next().hide();

        } else {
            var name = name_field.find("input").val();
            var email = email_field.find("input").val();

            var id = current_class.siblings('#delete').find('a').attr('href').slice(-1);

            var url = "{{ list_url }}/edit/" + id;

            var changes = {};

            changes['name'] = name;
            changes['email'] = email;
            changes['url'] = url;

            $.ajax({
                url: url,
                type: "POST",
                data: {
                    changes: changes,
                },
                dataType: 'json',
                beforeSend: function () {
                    $("#loader").show();
                },
                success: function (data) {
                    if (data.success) {
                        current_class.parent().next(".error").remove();
                        $("#loader").hide();
                        $('.edit').find("img").attr("src", "{{ request.static_url('subscriptions:static/edit.png') }}");

                        name_field.hide();
                        name_field.next().html(name).show();

                        email_field.hide();
                        email_field.next().html(email).show();

                        current_class.removeClass('clicked');
                    } else {
                        current_class.parent().next(".error").remove();
                        var keys = Object.keys(data.errors);
                        if (keys.length > 0) {

                            var nameError = data.errors['name'];
                            if (nameError == undefined) {
                                nameError = "";
                            }

                            var emailError = data.errors['email'];

                            if (emailError == undefined) {
                                emailError = "";
                            }

                            setTimeout(function () {
                                current_class.parent().after("<tr class='error' style='color: red;" +
                                        " text-align: center'> <td>" + nameError + "</td><td>" + emailError + "</td> </tr>");
                            }, 100);

                        }
                    }
                },

            });
        }
        $(this).data("clicks", !clicks);
    });

    $('input').click(function () {
        current_class = $(this).parent().siblings('.edit');
        name_field = current_class.parent().children(':first-child');
        email_field = current_class.parent().children(':nth-child(3)');
    });


</script>

</body>
</html>
