<!DOCTYPE html>
<html class="wf-loading">
<head>
    <title>Weps - websites built by computers in two minutes.</title>
    <meta name="description" content="First to make building a website as easy as talking to a computer. Just answer a couple of questions and Weps AI will build your website instantly. ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>

    <link rel="stylesheet" href="{{ request.static_url('subscriptions:static/login.css') }}">

    <script src="https://use.typekit.net/zsk6mug.js"></script>
    <script>try {
        Typekit.load({async: false});
    } catch (e) {
    }</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</head>
<body>

<nav class="sticky">
    <span class="logo-left"><a href="/"><img src="{{ request.static_url('subscriptions:static/logo.jpg') }}"></a></span>

    <a href="/">Back home &#10095;</a>
</nav>

<main class="flex">
    <section>
        <h2>Log in</h2>
        <p>Write your email and password to log in.</p>

        <form action="index.php" method="post">
            <input type="email" name="username" id="username" placeholder="Email address">
            <input type="password" name="password" id="password" placeholder="Password">
            <input type="hidden" name="task" value="login">
            <input type="submit" id="login" class="btn" value="LOG IN">
        </form>
        <br>
        <a href="/u/forgot.php">Forgot your password?</a>
        <br>
        <br>
        <a href="/build">Create an account</a>
    </section>
</main>

<script src="{{ request.static_url('subscriptions:static/login.js') }}"></script>

</body>
</html>
